# Homework 1 for Security Analytics 
## Author: Kandarp Khandwala - kkhandw1
---
### Obama vs Romney Dataset

- Install Python, Jupyter notebook, and necessary libraries like Numpy, Pandas, sklearn, matplotlib, seaborn, etc.
- Download the Obama and Romney poll data as used in the class, and complete following tasks:
    * Use the same URL link to the .csv file to download data
    * Describe the “Romney” data using the describe function
    * Find out pollster(s) on which Romney receive the most and the least votes
    * Draw a time series graph that shows the total number of Romney’s votes along with pollster start date
    * Submit your homework in an .ipynb file

- Homework due before next class (submit by 6:00PM ET, Monday, 9/10/2018)</h3>

In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import requests
from io import StringIO
import seaborn as sns

# Task 1: Download and display data

In [2]:
# This is the url link for the poll data in csv form
url = "http://elections.huffingtonpost.com/pollster/2012-general-election-romney-vs-obama.csv"

# Use requests to get the information in text form
source = requests.get(url).text

# Use StringIO to avoid an IO error with pandas
poll_data = StringIO(source)

In [3]:
# Set poll data as pandas DataFrame
poll_df = pd.read_csv(poll_data)

# Let's get a glimpse at the data
poll_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 586 entries, 0 to 585
Data columns (total 17 columns):
Pollster                  586 non-null object
Start Date                586 non-null object
End Date                  586 non-null object
Entry Date/Time (ET)      586 non-null object
Number of Observations    564 non-null float64
Population                586 non-null object
Mode                      586 non-null object
Obama                     586 non-null float64
Romney                    586 non-null float64
Undecided                 423 non-null float64
Other                     202 non-null float64
Pollster URL              586 non-null object
Source URL                584 non-null object
Partisan                  586 non-null object
Affiliation               586 non-null object
Question Text             0 non-null float64
Question Iteration        586 non-null int64
dtypes: float64(6), int64(1), object(10)
memory usage: 77.9+ KB

# Task 2: Describe Romney Data

In [4]:
poll_df['Romney'].describe()

count    586.000000
mean      44.614334
std        2.906180
min       32.000000
25%       43.000000
50%       45.000000
75%       46.750000
max       53.000000
Name: Romney, dtype: float64

### Find out actual number of obe

In [5]:
poll_df['RomneyObservations'] = poll_df['Number of Observations'] * poll_df['Romney'] / 100
poll_df[['Start Date', 'Romney', 'Number of Observations', 'RomneyObservations']]

     Start Date  Romney  Number of Observations  RomneyObservations
0    2012-11-04    47.0                  1000.0              470.00
1    2012-11-03    47.0                   740.0              347.80
2    2012-11-03    48.0                   872.0              418.56
3    2012-11-03    49.0                   712.0              348.88
4    2012-11-03    49.0                  1500.0              735.00
5    2012-11-03    47.0                  1041.0              489.27
6    2012-11-03    48.0                  3000.0             1440.00
7    2012-11-01    46.0                  4725.0             2173.50
8    2012-11-02    49.0                  1200.0              588.00
9    2012-11-02    48.0                  1200.0              576.00
10   2012-11-02    49.0                   693.0              339.57
11   2012-11-01    47.0                  2345.0             1102.15
12   2012-11-01    49.0                  2551.0             1249.99
13   2012-11-01    48.0                  1300.0              624.00
14   2012-11-01    48.0                  1417.0              680.16
15   2012-11-01    45.0                  1080.0              486.00
16   2012-11-01    48.0                  1019.0              489.12
17   2012-11-01    47.0                  1475.0              693.25
18   2012-10-31    47.0                 36472.0            17141.84
19   2012-10-31    45.0                  2709.0             1219.05
20   2012-11-02    48.0                  1074.0              515.52
21   2012-10-31    48.0                  1500.0              720.00
22   2012-10-31    46.0                  1000.0              460.00
23   2012-10-30    46.0                  1030.0              473.80
24   2012-10-30    48.0                  1200.0              576.00
25   2012-10-29    48.0                  1000.0              480.00
26   2012-10-26    48.0                  1094.0              525.12
27   2012-10-29    49.0                   800.0              392.00
28   2012-10-28    48.0                  1293.0              620.64
29   2012-10-27    46.0                  4085.0             1879.10
..          ...     ...                     ...                 ...
556  2010-10-27    50.0                   921.0              460.50
557  2010-09-28    40.0                   900.0              360.00
558  2010-09-10    43.0                   590.0              253.70
559  2010-08-06    33.0                  1668.0              550.44
560  2010-08-06    42.0                   606.0              254.52
561  2010-07-16    43.0                  8487.0             3649.41
562  2010-07-09    35.0                  1011.0              353.85
563  2010-07-09    46.0                   667.0              306.82
564  2010-06-04    42.0                   650.0              273.00
565  2010-05-07    44.0                   707.0              311.08
566  2010-04-09    45.0                   907.0              408.15
567  2010-04-09    45.0                   622.0              279.90
568  2010-03-17    41.0                  1050.0              430.50
569  2010-03-12    44.0                  1403.0              617.32
570  2010-02-13    43.0                   743.0              319.49
571  2010-01-18    42.0                  1151.0              483.42
572  2010-01-12    35.0                   900.0              315.00
573  2009-12-04    42.0                  1253.0              526.26
574  2009-11-24    44.0                   800.0              352.00
575  2009-11-13    43.0                  1066.0              458.38
576  2009-10-16    40.0                   766.0              306.40
577  2009-09-21    39.0                   621.0              242.19
578  2009-08-14    38.0                  1003.0              381.14
579  2009-08-14    40.0                   909.0              363.60
580  2009-07-18    45.0                  1000.0              450.00
581  2009-07-15    40.0                   577.0              230.80
582  2009-06-12    40.0                   638.0              255.20
583  2009-05-14    35.0                  1000.0              350.00
584  2009-04-17    39.0                   686.0              267.54
585  2009-03-13    44.0                  1403.0              617.32

[586 rows x 4 columns]

In [ ]:
poll_df.groupby(poll_df['Start Date'])['RomneyObservations'].agg(['sum']).sort_values(by = 'sum', ascending = False)

In [ ]:
sns.set_style('whitegrid')

sns.lineplot(x=poll_df.groupby(poll_df['Start Date']),
             y = poll_df['RomneyObservations'])