In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import requests
from io import StringIO
import seaborn as sns

In [2]:
# This is the url link for the poll data in csv form
url = "http://elections.huffingtonpost.com/pollster/2012-general-election-romney-vs-obama.csv"

# Use requests to get the information in text form
source = requests.get(url).text

# Use StringIO to avoid an IO error with pandas
poll_data = StringIO(source)

In [3]:
# Set poll data as pandas DataFrame
poll_df = pd.read_csv(poll_data)

# Let's get a glimpse at the data
poll_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 586 entries, 0 to 585
Data columns (total 17 columns):
Pollster                  586 non-null object
Start Date                586 non-null object
End Date                  586 non-null object
Entry Date/Time (ET)      586 non-null object
Number of Observations    564 non-null float64
Population                586 non-null object
Mode                      586 non-null object
Obama                     586 non-null float64
Romney                    586 non-null float64
Undecided                 423 non-null float64
Other                     202 non-null float64
Pollster URL              586 non-null object
Source URL                584 non-null object
Partisan                  586 non-null object
Affiliation               586 non-null object
Question Text             0 non-null float64
Question Iteration        586 non-null int64
dtypes: float64(6), int64(1), object(10)
memory usage: 77.9+ KB

In [4]:
poll_df['Romney'].describe()

count    586.000000
mean      44.614334
std        2.906180
min       32.000000
25%       43.000000
50%       45.000000
75%       46.750000
max       53.000000
Name: Romney, dtype: float64

In [5]:
poll_df['RomneyObservations'] = poll_df['Number of Observations'] * poll_df['Romney']
poll_df[['Start Date', 'Romney', 'Number of Observations', 'RomneyObservations']]

     Start Date  Romney  Number of Observations  RomneyObservations
0    2012-11-04    47.0                  1000.0             47000.0
1    2012-11-03    47.0                   740.0             34780.0
2    2012-11-03    48.0                   872.0             41856.0
3    2012-11-03    49.0                   712.0             34888.0
4    2012-11-03    49.0                  1500.0             73500.0
5    2012-11-03    47.0                  1041.0             48927.0
6    2012-11-03    48.0                  3000.0            144000.0
7    2012-11-01    46.0                  4725.0            217350.0
8    2012-11-02    49.0                  1200.0             58800.0
9    2012-11-02    48.0                  1200.0             57600.0
10   2012-11-02    49.0                   693.0             33957.0
11   2012-11-01    47.0                  2345.0            110215.0
12   2012-11-01    49.0                  2551.0            124999.0
13   2012-11-01    48.0                  1300.0             62400.0
14   2012-11-01    48.0                  1417.0             68016.0
15   2012-11-01    45.0                  1080.0             48600.0
16   2012-11-01    48.0                  1019.0             48912.0
17   2012-11-01    47.0                  1475.0             69325.0
18   2012-10-31    47.0                 36472.0           1714184.0
19   2012-10-31    45.0                  2709.0            121905.0
20   2012-11-02    48.0                  1074.0             51552.0
21   2012-10-31    48.0                  1500.0             72000.0
22   2012-10-31    46.0                  1000.0             46000.0
23   2012-10-30    46.0                  1030.0             47380.0
24   2012-10-30    48.0                  1200.0             57600.0
25   2012-10-29    48.0                  1000.0             48000.0
26   2012-10-26    48.0                  1094.0             52512.0
27   2012-10-29    49.0                   800.0             39200.0
28   2012-10-28    48.0                  1293.0             62064.0
29   2012-10-27    46.0                  4085.0            187910.0
..          ...     ...                     ...                 ...
556  2010-10-27    50.0                   921.0             46050.0
557  2010-09-28    40.0                   900.0             36000.0
558  2010-09-10    43.0                   590.0             25370.0
559  2010-08-06    33.0                  1668.0             55044.0
560  2010-08-06    42.0                   606.0             25452.0
561  2010-07-16    43.0                  8487.0            364941.0
562  2010-07-09    35.0                  1011.0             35385.0
563  2010-07-09    46.0                   667.0             30682.0
564  2010-06-04    42.0                   650.0             27300.0
565  2010-05-07    44.0                   707.0             31108.0
566  2010-04-09    45.0                   907.0             40815.0
567  2010-04-09    45.0                   622.0             27990.0
568  2010-03-17    41.0                  1050.0             43050.0
569  2010-03-12    44.0                  1403.0             61732.0
570  2010-02-13    43.0                   743.0             31949.0
571  2010-01-18    42.0                  1151.0             48342.0
572  2010-01-12    35.0                   900.0             31500.0
573  2009-12-04    42.0                  1253.0             52626.0
574  2009-11-24    44.0                   800.0             35200.0
575  2009-11-13    43.0                  1066.0             45838.0
576  2009-10-16    40.0                   766.0             30640.0
577  2009-09-21    39.0                   621.0             24219.0
578  2009-08-14    38.0                  1003.0             38114.0
579  2009-08-14    40.0                   909.0             36360.0
580  2009-07-18    45.0                  1000.0             45000.0
581  2009-07-15    40.0                   577.0             23080.0
582  2009-06-12    40.0                   638.0             25520.0
583  2009-05-14    35.0                  1000.0             35000.0
584  2009-04-17    39.0                   686.0             26754.0
585  2009-03-13    44.0                  1403.0             61732.0

[586 rows x 4 columns]

In [6]:
poll_df.groupby(poll_df['Start Date'])['RomneyObservations'].agg(['sum']).sort_values(by = 'sum', ascending = False)

                  sum
Start Date
2012-10-31  1954089.0
2012-11-01   749817.0
2012-10-22   393665.0
2012-11-03   377951.0
2010-07-16   364941.0
2012-10-01   318846.0
2012-10-04   310901.0
2012-09-24   309299.0
2012-10-18   309126.0
2012-06-28   304879.0
2012-10-25   259746.0
2012-04-13   257542.0
2012-09-07   250783.0
2012-09-13   249517.0
2012-10-11   247707.0
2012-09-17   243939.0
2012-07-15   242441.0
2012-10-27   238341.0
2012-09-04   226003.0
2012-06-07   220210.0
2012-06-16   210000.0
2012-08-20   208500.0
2012-09-10   207750.0
2012-07-30   204000.0
2012-11-02   201909.0
2012-10-08   196220.0
2012-10-28   187452.0
2012-07-01   186046.0
2012-08-13   184884.0
2012-09-08   181882.0
...               ...
2012-01-28    28600.0
2011-12-31    28600.0
2011-12-17    28600.0
2011-10-29    27885.0
2010-06-04    27300.0
2011-01-14    27176.0
2011-03-10    26964.0
2009-04-17    26754.0
2012-10-02    26550.0
2011-04-30    26400.0
2009-06-12    25520.0
2010-09-10    25370.0
2011-05-23    25200.0
2011-02-11    24600.0
2009-09-21    24219.0
2009-07-15    23080.0
2011-04-07    21812.0
2011-05-02    21600.0
2011-11-13    14432.0
2012-01-22        0.0
2012-07-07        0.0
2012-06-20        0.0
2011-08-29        0.0
2012-04-05        0.0
2012-02-29        0.0
2012-07-25        0.0
2012-05-16        0.0
2011-12-07        0.0
2011-09-29        0.0
2011-11-02        0.0

[357 rows x 1 columns]

In [11]:
sns.set_style('whitegrid')

sns.lineplot(x="Start Date",
             data=poll_df,
             y = poll_df['RomneyObservations'])

AttributeError: Cannot access callable attribute 'get' of 'DataFrameGroupBy' objects, try using the 'apply' method